<!-- <ion-header>
  <ion-toolbar class="toolbar-style">
    <ion-buttons slot="start">
      <ion-back-button class="whiteText"></ion-back-button>
    </ion-buttons>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header
  [cartCount]="productService.cartCount()"
  [backBtn]="true"
  [cartBtn]="true"
  [profileBtn]="true"
  [title]="'Cart'"
></app-header>

<ion-content class="ion-padding gray-background">
  <ion-list lines="none">
    <ion-item class="cart-item" *ngFor="let item of cartItems()">
      <div class="product-container">
        <div class="image-wrapper">
          <img [src]="item.productId.image" alt="product" />
        </div>

        <div class="details-wrapper">
          <div class="header-row">
            <ion-label>
              <h2>{{ item.productId.name }}</h2>
              <!-- <p>{{ item.weight }}</p> -->
            </ion-label>
            <ion-icon name="close-outline" class="remove-icon"></ion-icon>
          </div>
          <div
            class="w-100 ion-display-flex ion-justify-content-between ion-align-items-center"
          >
            <s>{{ item.productId.price * item.quantity | currency }}</s>
            <p>{{ item.productId.discount * item.quantity | currency }}</p>
          </div>

          <div class="price-quantity-row">
            <span class="price">
              Rs {{ ((item.productId.price * item.quantity) -
              (item.productId.discount * item.quantity)) }}
            </span>

            <div class="quantity-toggle">
              <ion-button
                class="removeOutlineIcon"
                fill="clear"
                (click)="decrease(item)"
              >
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              <span class="qty-number">{{ item.quantity }}</span>
              <ion-button
                class="addOutlineIcon"
                fill="clear"
                (click)="increase(item)"
              >
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div
    *ngIf="cartItems().length == 0"
    class="emptyCart ion-display-flex ion-flex-column ion-justify-content-center ion-align-items-center"
  >
    <ion-icon class="cartIcon" name="cart-outline"></ion-icon>
    <ion-label>Your cart is empty</ion-label>
  </div>
</ion-content>
<ion-footer *ngIf="cartItems().length > 0">
  <ion-toolbar>
    <ion-card>
      <ion-card-content>
        <ion-label class="ion-display-flex ion-justify-content-between">
          <h2>Sub Total</h2>
          <p>{{ subTotalAmt }}</p>
        </ion-label>
        <ion-label class="ion-display-flex ion-justify-content-between">
          <h2>Total Discount</h2>
          <p>{{ discountAmt }}</p>
        </ion-label>
        <ion-label class="ion-display-flex ion-justify-content-between">
          <h2>Delivery Fee</h2>
          <p>{{ deliveryFee }}</p>
        </ion-label>
        <ion-label class="ion-display-flex ion-justify-content-between">
          <h2>Total Amount</h2>
          <p>{{ totalAmt }}</p>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-button class="w-100 btns" (click)="checkout()"> Checkout </ion-button>
  </ion-toolbar>
</ion-footer>
